= error_messages_for :company

= semantic_form_for([:dashboard, current_user, @company]) do |f|
  - f.inputs do
    = f.input :name
    = f.input :description
  - f.buttons do
    = f.submit f.object.new_record? ? 'Create' : "Update"