#logo
  %h1 
    = link_to 'Business 2 Map', root_path
%ul#nav
  - if logged_in?
    %li= link_to 'Dashboard', dashboard_path
    %li= link_to "Logout", logout_user_session_path
  - else
    %li= link_to 'Sign up', new_user_path
    %li= link_to 'Login', new_user_session_path
.clear