= content_for :on_ready do
  init_add_form(); 
  init_location_form();
  
= error_messages_for :location

= semantic_form_for([:dashboard, current_user, @location.company, @location]) do |f|
  = f.inputs do
    = f.input :name, :label => 'Name'
    = f.input :country, :priority_countries => ["United States", "Canada", "United Kingdom"]
    = f.input :state, :collection => STATES, :include_blank => false
    = f.input :city
    = f.input :address
    = f.input :description, :input_html => { :rows => '4', :cols => '40' }, :label => 'Location Description'
  = f.buttons do
    = f.submit f.object.new_record? ? 'Create' : "Update"