.location{ :class => cycle(:odd, :even), :id => "location-#{location.id}" }
  .name= location.name
  .full_address= location.full_address
  .message!= RedCloth.new(location.description).to_html
  .controls
    = link_to 'edit', [:edit, :dashboard, current_user, location.company, location], :class => 'edit_button'
    = link_to 'remove', [:dashboard, current_user, location.company, location], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
  .clear