%h1.left== Edit: #{@company_category.name}
.add.right
  = link_to 'Back', collection_path, :class => 'cancel_button'
  = link_to 'Show', resource_path(@project), :class => 'show_button'
  = link_to 'Delete', resource_path(@project), :confirm => 'Are you sure?', :method => :delete, :class => 'delete_button'
.clear
= render 'form'