%ul#admin_nav
  %li.users_menu= link_to 'Users', admin_users_path
  %li.companies_menu= link_to 'Companies', admin_companies_path
  %li.company_categories_menu= link_to 'Categories', admin_company_categories_path
  %li.posts_menu= link_to 'Posts', admin_posts_path
  %li.back_menu= link_to 'Back to Dashboard &rarr;'.html_safe, dashboard_path
.clear

- content_for :on_ready do
  == $('#admin_nav .#{controller_name}_menu').addClass('selected');